body{
    background: #000;
}
.mid{
  margin-left: 50%;
}
.line {
    position: absolute;
    top: 50%;
    width: 1px;
    height: 0px;
    background: #fff;
    
}
.line-r{
  width: 1px;
  height: 0px;
  bottom: 50%;
  background: #fff;
  position: absolute;
  
}
#line_r{
    -webkit-animation: line_r_animation 4s infinite;
    animation: line_r_animation 1s infinite;
}
  
#line_l{
    -webkit-animation: line_l_animation 4s infinite;
    animation: line_l_animation 1s infinite;
}
  

@-webkit-keyframes line_l_animation {

  0%   {bottom: 400px; height: 0px;}
  50%   {bottom: 400px; height: 200px;}
  100%   {bottom: 400px; height:450px;}
}

@-webkit-keyframes line_r_animation {
  0%   {bottom: 470px; height: 0px;}
  50%   {bottom: 470px; height: 200px;}
  100%   {bottom: 470px; height:450px;}
}
